@import url('https://fonts.googleapis.com/css?family=Space+Mono');

* {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
  font-family: 'Space Mono', serif;
}

body {
  width: 100vw;
  max-height: 100vw;
/*   background-image: linear-gradient(to right top, #294fd6, #6154dc, #855ae1, #a561e5, #c168e9); */
/*   background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
background-image: linear-gradient(to right top, #a868ff, #ff3bb4, #ff6756, #ffb200, #a8eb12);
}

.a {
  background-color: #fff;
  box-shadow: 4px 4px 25px 5px  rgb(59, 56, 56);
  padding: 10px;
  width: 350px;
  margin: 75px auto;
  border-radius: 40px;
  
}

.main-container {
  display: grid;
  /* display: inline-block; */
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
  padding: 10px;
}

.box {
  background-color: #fff;
  padding: 20px;
  border-radius: 100px;
  text-align: center;
  font-weight: normal;
  cursor: pointer; 
  transition-duration: 0.4s;
}

#box-1 {
  grid-column: 1 / -1;
  background: #051937;
  font-family: 'Space Mono', serif;
  color: white;
  font-size: 1.8em;
  border:0;
  padding: 1em;
  text-align: right;
  right: 200px;
  width: 100%;
  height: 100px;
}

#box-17 {
  grid-area: 6/1/7/3;
}

.box:hover:not(input) {
  background-color: rgba(255, 165, 0, 0.5);
  transform: scale(1.1);
}

.box {
  border:2px solid black;
  box-shadow: 2px 2px 10px rgb(80, 77, 77);
}
.orange{
  background-color:orange;
}
